#container{

    display: flex;
   /* flex-direction: row;
    flex-wrap: wrap;*/
    height: 800px;
    flex-flow: row wrap;
    justify-content: space-between;
    /*align-items: stretch;*/
    align-content: s;
}

.items {

    background-color: red;
    height: 150px;
    width: 200px;
    margin: 5px;
}